__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/


.venv/
venv/
env/


.coverage
htmlcov/
.tox/
.pytest_cache/
.mypy_cache/
.cache/
*.cover


.vscode/
.idea/
*.sublime-*
*.code-workspace
.gigaide/


.DS_Store
Thumbs.db
desktop.ini

*config.json

.env
.env.*

*.json-key
*.pem

logs/
*.log
debug_dumps/
tmp/


docker-build/
docker-compose.override.yml

tests/golden/*.updated.json
tests/tmp/

*.bak
*.swp
*.~undo-tree~
